:root {
  --header-bg-color: #131921;
  --icon-bg-color: #f3a847;
}

.header {
  display: flex;
  background-color: var(--header-bg-color);
  align-items: center;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__logo {
  width: 100px;
  object-fit: contain;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 18px;
}

.header__search {
  display: flex;
  flex: 1 1;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: var(--icon-bg-color);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-left: 10px;
  margin-right: 14px;
}

.header__optionLineOne {
  font-size: 11px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 700;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 0.2rem;
  margin-right: 10px;
}
.header__basketCount {
  margin: 0 10px;
  font-size: 15px;
}
