/* 
  card style
*/
.rccs__card--unknown > div {
  background: linear-gradient(25deg, #285cab, #2e7ef7);
  box-shadow: none;
}

.PaymentForm__wrapper__form {
  display: flex;
  justify-content: center;
  text-align: center;
}
.MuiInput-root {
  position: relative;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}

.rccs__card {
  margin: 2rem 0;
}
.PaymentForm__wrapper__form .MuiFormControl-root {
  margin: 0 0 0.7rem 0.6rem !important;
}
@media (max-width: 600px) {
  .PaymentForm__wrapper__form {
    padding: 0 0.5rem;
  }
}

.PaymentForm__title {
  border-left: #2d79ecab 2px solid;
  padding: 0.5rem;
  border-right: #2d79ecab 2px solid;
  border-radius: 5px;
  margin-bottom: 2rem !important;
}
.PaymentForm__submit__button {
  margin: 1rem 0 !important;
}
